<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sweater</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="text" placeholder="Enter text..." />
            <input type="text" name="tag" placeholder="Enter tag..." />
            <button type="submit">Add message</button>
        </form>
    </div>
    <h3>Messages list</h3>
    <div>
        <form method="post" action="/filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="filter" placeholder="Enter tag..." />
            <button type="submit">Find</button>
        </form>
    </div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>